.paginate-container {
  margin-top: 0;
  margin-bottom: 0;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 10%;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;

  .page {​
    &:first-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
​
    &:last-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  .active .page {
    @extend .selected;
    @extend .current;
  }

  .disabled .page {
    @extend .gap;
  }
}
