table {
  table-layout: auto;
  width: 100%;
  overflow: scroll;
  border-collapse: collapse;
  overflow: auto;
  font-size: 1rem;
  word-break: normal;
  word-break: keep-all; // For Firefox to horizontally scroll wider tables.
  -webkit-overflow-scrolling: touch;

  th {
    padding: 0px;
    font-size: 0px;
    border: 0px solid #e9ebec;
  }

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 8px;
    border: 1px solid #e9ebec;
  }
}
