[submodule "primer"]
	path = primer
	url = https://github.com/primer/css.git
[submodule "bootstrap-sass"]
	path = bootstrap-sass
	url = https://github.com/twbs/bootstrap-sass.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
