version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2
  slack: circleci/slack@3.4.2

commands:
  set_slack_message:
    steps:
    - run:
        name: Slack - Generating Custom Message
        command: .circleci/generate-slack-message.sh
  configure_bundler:
    steps:
    - run:
        name: Configure Bundler
        command: .circleci/configure-bundler.sh
    - restore_cache:
        key: bundler-cache-{{ checksum "Gemfile.lock" }}
    - run:
        name: Bundle Install
        command: bundle install --path vendor/bundle
    - save_cache:
        key: bundler-cache-{{ checksum "Gemfile.lock" }}
        paths: [ vendor/bundle ]
  jekyll_build:
    steps:
    - run:
        name: Jekyll Build
        command: JEKYLL_ENV=production bundle exec jekyll build --destination ./_site/
  html_proofer:
    steps:
    - run:
        name: HTML Proofer
        command: .circleci/html-proofer.sh
  github_pages_deploy:
    steps:
    - add_ssh_keys:
        fingerprints: [ d3:10:c9:11:e9:8b:7f:09:ce:29:d5:38:81:da:ef:bb ]
    - deploy:
        name: Deploy to GitHub Pages
        command: .circleci/github-pages-deploy.sh
  slack_build_notification:
    steps:
    - slack/status:
        success_message: "$SLACK_MESSAGE *passed*."
        failure_message: "$SLACK_MESSAGE *failed*."
        include_job_number_field: false
        include_project_field: false
        include_visit_job_action: false
  slack_deploy_notification:
    steps:
    - slack/status:
        success_message: "$SLACK_MESSAGE *passed*.\n$DEPLOY_MESSAGE."
        failure_message: "$SLACK_MESSAGE *failed*.\nDeploy to GitHub Pages was *unsuccessful*."
        include_job_number_field: false
        include_project_field: false
        include_visit_job_action: false

jobs:
  test:
    working_directory: ~/emma-sax4.github.io
    docker: [ image: circleci/ruby@sha256:0e8e315f7eca307b9379166e611d250fea785d5151de7100cc44e4a12c4ecb7e ]
    steps:
    - checkout
    - set_slack_message
    - configure_bundler
    - jekyll_build
    - html_proofer
    - slack_build_notification
  test-and-deploy:
    working_directory: ~/emma-sax4.github.io
    docker: [ image: circleci/ruby@sha256:0e8e315f7eca307b9379166e611d250fea785d5151de7100cc44e4a12c4ecb7e ]
    steps:
    - checkout
    - set_slack_message
    - configure_bundler
    - jekyll_build
    - html_proofer
    - github_pages_deploy
    - slack_deploy_notification

workflows:
  version: 2
  develop:
    jobs:
    - test:
        filters:
          branches:
            ignore: [ source ]
  release:
    jobs:
    - test-and-deploy:
        filters:
          branches:
            only: [ source ]
  cron:
    jobs: [ test-and-deploy ]
    triggers:
    - schedule:
        cron: "30 5 * * *" # 05:30 UTC => 00:30 CDT / 23:30 CST
        filters:
          branches:
            only: [ source ]
