<footer>
  &copy; <script>new Date().getFullYear()>2010&&document.write(" "+new Date().getFullYear());</script> by
    <a href="{{ site.github.owner }}" target="_blank">Emma Sax</a>.
  All rights reserved.
  View on <a href="{{ site.github.repo }}" target="_blank">GitHub</a>.
</footer>

<!-- This line needs to be the last line in the HTML file
     in order for the feather icons to show up properly:
     https://github.com/feathericons/feather#usage        -->
<script src="https://unpkg.com/feather-icons"></script>
<script>feather.replace()</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
