<footer>
  &copy; <script>new Date().getFullYear()>2010&&document.write(" "+new Date().getFullYear());</script> by
    <a href="{{ site.github.owner }}" target="_blank">Emma Sax</a>.
  All rights reserved.
  View on <a href="{{ site.github.repo }}" target="_blank">GitHub</a>.
</footer>

<!-- This line needs to be the last line in the HTML file
     in order for the feather icons to show up properly:
     https://github.com/feathericons/feather#usage        -->
<script>feather.replace()</script>
