<header>
  <div class="topnav" id="myTopnav">
    <nav>
      <div class="topnav-left">
        <a href="{{ site.url }}">
          <img class="my-image" src="/assets/images/e_logo_white_40.png" style="vertical-align: top">
          Emma Sax
        </a>
      </div>

      <div class="topnav-right">
        {% assign sorted_pages = site.pages | where_exp: "item", "item.order" | sort: "order" | shift %}

        {% for node in sorted_pages %}
          {% if page.url == node.url or node.url contains "blog" and page.collection != null %}
            {% assign active = 'active' %}
          {% else %}
            {% assign active = nil %}
          {% endif %}

          <a class="{{ active }}" href="{{ site.baseurl }}{{ node.url }}">{{node.title}}</a>
        {% endfor %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i style="vertical-align: top; color: white; width: 24px; height: 24px;" data-feather="menu"></i>
        </a>
      </div>
    </nav>
  </div>
</header>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>
