<header>
  <div class="topnav" style="text-align: center">
    <nav>
      {% assign sorted_pages = site.pages | where_exp: "item", "item.order" | sort: "order" | shift %}

      {% for node in sorted_pages %}
        {% if page.url == node.url or node.url contains page.collection and page.collection != null %}
          <a class="active" href="{{ site.baseurl }}{{ node.url }}">{{node.title}}</a>
        {% else %}
          <a href="{{ site.baseurl }}{{ node.url }}">{{node.title}}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>

  <div class="title">
    <h1 class="project-name">Emma Sax</h1>
  </div>
</header>
