{% assign featured = site.lego | where: "featured", true %}

{% for lego in featured %}
  <details>
    <summary style="font-size: 24px; margin-bottom: 10px;">Featured: <i>{{ lego.title }}</i></summary>
    {{ lego.content }}
  </details>
{% endfor %}

{% assign lego_list = site.lego | where_exp: "lego", "lego.featured != true" | order: "date" | reverse %}

{% for lego in lego_list %}
  <details>
    <summary style="font-size: 24px; margin-bottom: 10px;">{{ lego.title }}</summary>
    {{ lego.content }}
  </details>
{% endfor %}
