<!-- <nav class="paginate-container" aria-label="Pagination">
  <div class="pagination"></div>
</nav>

<script type="text/javascript">
  document.getElementById("posts").style.display = "none";

  var options = {
    valueNames: [ 'post' ],
    page: 5,
    pagination: {
      outerWindow: 1,
      innerWindow: 1
    }
  };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"
  onload="var posts = new List('posts', options); document.getElementById('posts').style.display = 'block';">
</script> -->
