{% if paginator.total_pages > 1 %}
  <nav aria-label="Blog post navigation">
    <ul class="pagination justify-content-center">
      {% if paginator.previous_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path }}"><i style="width: 18px; height: 18px;" data-feather="skip-back"></i></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#"><i style="width: 18px; height: 18px;" data-feather="x-octagon"></i></a>
        </li>
      {% endif %}

      {% assign blog_url = page.url_setting | default: "/blog/" | remove: "/index.html" %}

      {% if paginator.page == 1 %}
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="{{ blog_url }}">1</a>
        </li>
      {% endif %}

      {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <li class="page-item active">
            <a class="page-link" href="#">{{ count }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ blog_url }}{{ count }}">{{ count }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.next_page_path }}"><i style="width: 18px; height: 18px;" data-feather="skip-forward"></i></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#"><i style="width: 18px; height: 18px;" data-feather="x-octagon"></i></a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
