<li>
  {% assign post_url = post.url | downcase | replace: ".html", "" | relative_url %}
  {% if post.subtitle %}
    {% if page.pagination.title == "Blog" %}
      {% assign short_title = post.title | append: " → " | append: post.subtitle %}
    {% else %}
      {% assign short_title = post.subtitle %}
    {% endif %}
  {% else %}
    {% assign short_title = post.title %}
  {% endif %}

  <div class="container" style="padding-left: 0; padding-right: 0; padding-bottom: 2rem;">
    <span class="post-meta">
      <div>
        {% if post.draft == true %}
            Unpublished
        {% else %}
            {{ post.date | date: "%B %-d, %Y" }}
        {% endif %}
      </div>
    </span>

    <a href="{{ site.baseurl }}{{ post_url }}">{{ short_title }}</a>

    <div>
      {% if post.set %}
        {% unless page.pagination.set %}
          {% assign set = post.set %}
          {% include set_list.html %}
        {% endunless %}
      {% else %}
        {% assign tags = post.tags | sort %}
        {% include tags_list.html %}
      {% endif %}
    </div>
  </div>
</li>
