<h1>
  <div class="text-center">
    {% if page.subtitle %}
        {{ page.title }}
        <div style="font-size: 32px">
          {{ page.subtitle }}
        </div>
    {% else %}
      {{ page.title }}
    {% endif %}
  </div>

  <div class="text-center">
    <span class="post-meta" style="font-style: italic; margin-top: -1rem; margin-bottom: -1rem;">
      {% if page.draft == true %}
        Unpublished
      {% else %}
        Published {{ page.date | date: "%B %-d, %Y" }}
      {% endif %}
    </span>
  </div>

  <div class="text-center" style="margin-top: -1rem; margin-bottom: -1rem;">
    {% if page.category %}
      {% assign category = page.category %}
      {% include category_list.html %}
    {% else if page.tags %}
      {% assign tags = page.tags | sort %}
      {% include tags_list.html %}
    {% endif %}
  </div>
</h1>
