<li>
  {% assign thought_url = thought.url | replace: ".html", "" | relative_url %}
  {% if thought.subtitle %}
    {% if page.tag == "all" %}
      {% assign short_title = thought.title | append: " ☞ " | append: thought.subtitle %}
    {% else %}
      {% assign short_title = thought.subtitle %}
    {% endif %}
  {% else %}
    {% assign short_title = thought.title %}
  {% endif %}

  <span class="thought-meta">
    {% if thought.draft == true %}
        Unpublished
    {% else %}
        {{ thought.date | date: "%B %-d, %Y" }}
    {% endif %}
  </span>

  <br>
  <a href="{{ site.baseurl }}{{ thought_url }}">{{ short_title }}</a>

  {% if thought.set %}
    {% unless page.set %}
      {% assign set = thought.set %}
      {% include set_list.html %}
    {% endunless %}
  {% else %}
    {% assign tags_list = thought.tags | sort %}
    {% include tags_list.html %}
  {% endif %}
  <br><br>
</li>
