{% assign post_url = post.url | downcase %}

{% if post.subtitle %}
  {% if page.pagination.title == "Blog" %}
    {% assign short_title = post.title | append: " — " | append: post.subtitle %}
  {% else %}
    {% assign short_title = post.subtitle %}
  {% endif %}
{% else %}
  {% assign short_title = post.title %}
{% endif %}

<div class="container post-summary-data">
  <!-- Publishing date -->
  <div>
    {% if post.draft %}
      <span class="post-meta">Unpublished</span>
    {% else %}
      <span class="date-meta">{{ post.date }}</span>
    {% endif %}
  </div>

  <!-- Blog post title -->
  <a href="{{ post_url }}" class="post-summary-title">{{ short_title }}</a>

  <!-- Tag list or category -->
  <div>
    {% if post.category %}
      {% unless page.pagination.category %}
        {% assign category_to_show = post.category %}
        {% assign tags_to_show = nil %}
      {% endunless %}
    {% else %}
      {% unless page.pagination.tag %}
        {% assign category_to_show = nil %}
        {% assign tags_to_show = post.tags | sort %}
      {% endunless %}
    {% endif %}

    {% include blog/post_categorization.html %}
  </div>
</div>
