<li>
  {% assign post_url = post.url | downcase | replace: ".html", "" %}
  {% if post.subtitle %}
    {% if page.pagination.title == "Blog" %}
      {% assign short_title = post.title | append: " → " | append: post.subtitle %}
    {% else %}
      {% assign short_title = post.subtitle %}
    {% endif %}
  {% else %}
    {% assign short_title = post.title %}
  {% endif %}

  <div class="container" style="padding-left: 0; padding-right: 0; padding-bottom: 2rem;">
    <div>
      {% if post.draft %}
        <span class="post-meta">Unpublished</span>
      {% else %}
        {% assign now = "now" | date: "%s" %}
        {% assign date = post.date | date: "%s" %}
        {% if date <= now %}
          <span class="date-meta">{{ post.date }}</span>
        {% else %}
          <span class="post-meta">Unpublished</span>
        {% endif %}
      {% endif %}
    </div>

    <a href="{{ site.baseurl }}{{ post_url }}">{{ short_title }}</a>

    <div>
      {% if post.category %}
        {% unless page.pagination.category %}
          {% assign category_to_show = post.category %}
          {% assign tags_to_show = nil %}
        {% endunless %}
      {% else %}
        {% unless page.pagination.tag %}
          {% assign category_to_show = nil %}
          {% assign tags_to_show = post.tags | sort %}
        {% endunless %}
      {% endif %}

      {% include post/categorization.html %}
    </div>
  </div>
</li>
