{% if tags_to_show and tags_to_show.size > 0 %}
  <span class="post-meta">
    <i class="post-categorization-icon" data-feather="tag"></i>

    {% for tag in tags_to_show %}
      <a href="/blog/{{ tag }}/">
        {{ tag }}
      </a>

      {% unless tag == tags_to_show.last %}
        |
      {% endunless %}
    {% endfor %}
  </span>
{% endif %}

{% if category_to_show %}
  {% assign category = category_to_show | downcase | replace: " ", "-" %}

  <span class="post-meta">
    <i class="post-categorization-icon" data-feather="archive"></i>
    <a href="/blog/{{ category }}/">
      {{ category_to_show }}
    </a>
  </span>
{% endif %}
