blockquote {
  background: #f9f9f9;
  border-left: .3rem solid #dce6f0;
  margin: 1.5rem .625rem;
  padding: 0.5rem .625rem;
  quotes: "\201C""\201D""\2018""\2019";

  p {
    margin-bottom: 0.125rem;
    margin-top: 0.125rem;
  }
}
