.blog-list-title-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.blog-list-sidebar-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.post-summary-title {
  font-size: 20px;
}

.post-summary-data {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2rem;
}

.post-title {
  padding-bottom: .75rem;
}

.post-subtitle {
  font-size: 32px;
}

.post-data {
  margin-top: -.5rem;
}

.post-categorization-icon {
  width: 20px;
  height: 20px;
}

.post-meta {
  font-size: 16px;
  color: grey;
}

.date-meta {
  font-size: 16px;
  color: grey;
}
