code {
  padding: .125rem .25rem;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  background-color: #f3f6fa;
  border: solid .0625rem #dce6f0;
  border-radius: .3rem;
  color: inherit;
}

pre {
  padding: .8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  background-color: #f3f6fa;
  border: solid .0625rem #dce6f0;
  border-radius: .3rem;
  overflow: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  > code {
    padding: 0;
    margin: 0;
    font-size: 14px;
    word-break: normal;
    word-wrap: normal;
    background: transparent;
    border: 0;
  }
}

// This will make it so that the font size changes with the rest of the HTML container/div around it
header-code {
  padding: 0rem;
  font-family: "Roboto Mono", monospace;
  background-color: #f3f6fa;
  border: solid .0625rem #dce6f0;
  border-radius: .3rem;
}
