.connect {
  padding-bottom: 50px;
}

.connect-header {
  font-weight: bold;
  padding-bottom: 1rem;
}

.facebook-icon {
  margin-left: -0.6rem;
}

.contact-button {
  margin-top: 1.5rem;
}

.homepage-content {
  padding-top: 1.5rem;
}
