a {
  color: #001aaf;
  text-decoration: none;
}

a:hover {
  color: #001aaf;
}

a:hover:not(
  .image, .photo, .button-text,
  .nav-link, .navbar-brand,
  .link-icon, .link-icon-rss
) {
  text-decoration: underline;
}

.link-icon-rss {
  padding-left: .625rem;
  padding-right: .625rem;

  > * {
    width: 2rem;
    height: 2rem;
  }

  .icon-hover {
    display: none;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover .icon-static {
    display: none;
  }

  &:hover .icon-hover {
    display: inline;
  }
}

.link-icon {
  padding-left: .625rem;
  padding-right: .625rem;

  > * {
    width: 3rem;
    height: 3rem;
  }

  .icon-hover {
    display: none;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover .icon-static {
    display: none;
  }

  &:hover .icon-hover {
    display: inline;
  }
}
