a {
  color: #001aaf;
  text-decoration: none;
}

a:hover {
  color: #001aaf;
}

a:hover:not(.photoswipe, .lightbox2, .nav-link, .navbar-brand) {
  text-decoration: underline;
}

.link-icon-button > a {
  svg {
    height: 3rem;
    width: 3rem;
    transition: stroke .15s ease-in-out;
  }

  &:hover,
  &:active {
    svg {
      stroke: white;
    }
  }
}

.link-icon-rss {
  padding-left: .625rem;
  padding-right: .625rem;
  color: #f88e02;

  > * {
    width: 2rem;
    height: 2rem;
  }

  &:hover,
  &:active {
    color: #001aaf;
    text-decoration: none;
  }
}

.link-icon {
  padding-left: .625rem;
  padding-right: .625rem;
  color: #6d7375;

  > * {
    width: 3rem;
    height: 3rem;
  }

  &:hover,
  &:active {
    color: #001aaf;
    text-decoration: none;
  }
}
