nav.navbar {
  background: linear-gradient(to right, rgb(0, 26, 175), rgb(0, 174, 255));
  height: 45px;

  :focus {
    outline-color: rgb(255, 58, 58);
  }

  .navbar-brand {
    font-weight: 700;
  }

  > .navbar-toggler {
    color: rgba(255,255,255,.95);
    border-color: rgba(255,255,255,.5);
  }

  .navbar-toggler[aria-expanded="false"] > .feather-x {
    display: none;
  }

  .navbar-toggler[aria-expanded="true"] > .feather-menu {
    display: none;
  }

  .navbar-nav > .nav-item > .nav-link {
    color: white;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .navbar-nav > .nav-item.active > .nav-link {
    font-weight: 700;
  }
}
