nav.navbar {
  background: #001aaf;

  :focus {
    outline-color: rgb(255, 58, 58);
  }

  .navbar-brand {
    font-weight: 700;
  }

  > .navbar-toggler {
    color: rgba(255,255,255,.95);
    border-color: rgba(255,255,255,.5);
  }

  .navbar-toggler[aria-expanded="false"] > .feather-x {
    display: none;
  }

  .navbar-toggler[aria-expanded="true"] > .feather-menu {
    display: none;
  }

  .navbar-nav > .nav-item > .nav-link {
    color: #ffffff;
    font-size: 1rem;
    margin-right: -0.5rem;
    margin-left: 1.5rem;
  }

  .navbar-nav > .nav-item.active > .nav-link {
    font-weight: 700;
  }
}

.nav-icon {
  margin-top: 1px;
  margin-bottom: 1px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    padding-bottom: 0.6rem;
  }
}
