.end-link {
  padding-top: .35rem;
  padding-bottom: .65rem;
}

@media screen and (max-width: 25rem) {
  .pagination {
    font-size: 16px;
  }

  .page-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .end-link {
    padding-top: .4rem;
    padding-bottom: .55rem;
  }
}

.pagination-icon {
  width: 18px;
  height: 18px;
}
