html, body {
  min-width: 20rem;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

body {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1.5;
  color: #606c71;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  font-size: 18px;
  flex-grow: 1;
  margin-top: 1.5rem;
}

header, main, footer {
  flex-shrink: 0;
}

.page-body {
  padding-top: 1rem;
}

h1 {
  border-bottom: solid .125rem #eff0f1;
  padding-bottom: 1.5rem;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: .2rem solid rgba(0,0,0,.1);
  width: 50%;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-bottom: solid 1px;
  border-color: #dee2e6;
}

#anchor {
  position: relative;
}

#anchor a {
  position: absolute;
  left: 0px;
  top: -60px;
}

.image {
  max-width: 100%;
  height: auto;
  padding-bottom: .625rem;
}

.post-meta {
  font-size: 15px;
  color: grey;
}

.date-meta {
  font-size: 15px;
  color: grey;
}

footer {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: solid .125rem #eff0f1;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
