html, body {
  min-width: 20rem;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

body {
  font-family: "Open Sans", "system-ui";
  font-size: 18px;
  line-height: 1.5;
  color: #606c71;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  font-size: 18px;
  flex-grow: 1;
  margin-top: 1.5rem;
}

header, main, footer {
  flex-shrink: 0;
}

.page-body {
  padding-top: 1rem;
}

h1 {
  border-bottom: solid .125rem #eff0f1;
  padding-bottom: 1.5rem;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: .2rem solid rgba(0,0,0,.1);
  width: 50%;
}

#anchor {
  position: relative;
}

#anchor a {
  position: absolute;
  top: -3rem;
}

.image {
  max-width: 100%;
  height: auto;
  padding-bottom: .625rem;
}

.post-meta {
  font-size: 16px;
  color: grey;
}

.date-meta {
  font-size: 16px;
  color: grey;
}

::-webkit-input-placeholder {
  color: #919090;
  opacity:1
}

.form-control::-moz-placeholder {
  color: #919090;
  opacity:1
}

.form-control:-ms-input-placeholder {
  color: #919090;
  opacity:1
}

.form-control::-ms-input-placeholder {
  color: #919090;
  opacity:1
}

.form-control::placeholder {
  color: #919090;
  opacity: 1;
}

footer {
  margin-top: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top: solid .125rem #eff0f1;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
