---
---

@import "pagination/index.scss";

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #606c71;
}

a {
  color: #1e6bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14.4px;
  color: #567482;
  background-color: #f3f6fa;
  border-radius: 4.8px;
}

pre {
  padding: 12.8px;
  margin-top: 0;
  margin-bottom: 16px;
  font: 16px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 4.8px;

  > code {
    padding: 0;
    margin: 0;
    font-size: 14.4px;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 4.8px solid #dce6f0;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

.post-meta {
  font-size: 15px;
  color: grey;
}

h1 {
  border-bottom: solid 2px #eff0f1;
  padding-bottom: 16px;
  font-size: 30px;
}

/* TABLES */

table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  font-size: 17px;
  word-break: normal;
  word-break: keep-all; // For Firefox to horizontally scroll wider tables.
  -webkit-overflow-scrolling: touch;

  th {
    font-weight: bold;
    padding: 0px;
    font-size: 0px;
    border: 0px solid #e9ebec;
  }

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 8px;
    border: 1px solid #e9ebec;
  }
}

/* NAVIGATION BAR */

.topnav {
  color: black;
  background-color: #159957;
  background: linear-gradient(to right, rgb(27, 14, 172), rgb(107, 208, 245));
  overflow: hidden;
  color: white;
  vertical-align: middle;
}

.topnav-left {
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  float: left;
  font-weight: bold;
  font-size: 24px;

  a {
    color: white;
    text-decoration: none;
  }
}

.topnav-right {
  float: right;
  margin-right: 10px;

  a {
    display: inline-block;
    color: white;
    padding-top: 18px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 16px;
    vertical-align: middle;

    &:hover {
      color: rgba(225, 222, 222, 0.797);
    }
  }

  a.active {
    font-weight: bold;
  }
}

/* PAGINATION */

.paginate-container {
  margin-top: 0;
  margin-bottom: 0;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 10%;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
​​
  .page {​
    &:first-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
​
    &:last-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  .active .page {
    @extend .selected;
    @extend .current;
  }
  .disabled .page {
    @extend .gap;
  }
​
  li {
    margin: 0 !important;
    padding: 0;
    +li {
      .page {
        margin-left: -1px;
      }
    }

    &:first-child {
      .page {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
​
    &:last-child {
      .page {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}

/* GENERIC BUTTON */

.btn {
  display: inline-block;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 4.8px;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
  margin-left: 16px;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}

.wrapper {
  text-align: center;
}

/* CUSTOM BUTTON */

// .myButton {
//   -moz-box-shadow: 0px 10px 14px -7px rgb(101, 206, 250);
//   -webkit-box-shadow: 0px 10px 14px -7px rgb(101, 206, 250);
//   box-shadow: 0px 10px 14px -7px rgb(101, 206, 250);
//   background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgb(101, 206, 250)), color-stop(1, rgb(49, 122, 249)));
//   background: -moz-linear-gradient(top, rgb(101, 206, 250) 5%, rgb(49, 122, 249) 100%);
//   background: -webkit-linear-gradient(top, rgb(101, 206, 250) 5%, rgb(49, 122, 249) 100%);
//   background: -o-linear-gradient(top, rgb(101, 206, 250) 5%, rgb(49, 122, 249) 100%);
//   background: -ms-linear-gradient(top, rgb(101, 206, 250) 5%, rgb(49, 122, 249) 100%);
//   background: linear-gradient(to bottom, rgb(101, 206, 250) 5%, rgb(49, 122, 249) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="rgb(101, 206, 250)", endColorstr="rgb(49, 122, 249)",GradientType=0);
//   background-color: rgb(107, 208, 245);
//   -moz-border-radius: 8px;
//   -webkit-border-radius: 8px;
//   border-radius: 8px;
//   display: inline-flex;
//   cursor: pointer;
//   color: white;
//   font-family: Arial;
//   font-size: 20px;
//   font-weight: bold;
//   align-items: center;
//   padding: 13px 32px;
//   text-decoration: none;
//   // text-shadow: 0px 1px 0px #3d768a;
// }

// .myButton:hover {
//   background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgb(67, 134, 250)), color-stop(1, rgb(67, 134, 250)));
//   background: -moz-linear-gradient(top, rgb(67, 134, 250) 5%, rgb(67, 134, 250) 100%);
//   background: -webkit-linear-gradient(top, rgb(67, 134, 250) 5%, rgb(67, 134, 250) 100%);
//   background: -o-linear-gradient(top, rgb(67, 134, 250) 5%, rgb(67, 134, 250) 100%);
//   background: -ms-linear-gradient(top, rgb(67, 134, 250) 5%, rgb(67, 134, 250) 100%);
//   background: linear-gradient(to bottom, rgb(67, 134, 250) 5%, rgb(67, 134, 250) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="rgb(67, 134, 250)", endColorstr="rgb(67, 134, 250)",GradientType=0);
//   background-color: rgb(53, 189, 247);
//   text-decoration: none;
// }

// .myButton:active {
//   position:relative;
//   top:1px;
// }

.myButton {
  padding-top: 20px;
  padding-right: 32px;
  padding-bottom: 25px;
  padding-left: 32px;
  font-size: 15px;
  top: 50%;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  color: #303030;
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #cbcbcb;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b7b7b7;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

.myButton:hover {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(to top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b3b3b3;
  text-decoration: none;
}

.myButton span {
  display: block;
  height: 23px;
  padding-left: 50px;
}

/* HEADER */

.project-name {
  margin-top: 0;
  margin-bottom: 1.6px;
}

.title {
  color: white;
  text-align: center;
  background-color: #159957;
  // background: linear-gradient(to right, rgb(27, 14, 172), rgb(107, 208, 245));
}

/* FOOTER */

.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: solid 2px #eff0f1;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  position: absolute;
}

/* RESPONSIVE CONTAINERS */

.container {
  width: auto;
  max-width: 1020px;
  padding-left: 15px;
  padding-right: 15px;
}

.markdown-body {
  overflow: visible;
}

/* PRESET FORMATTING */

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 40px;
  }

  .project-tagline {
    font-size: 20px;
  }

  .title {
    padding: 16px 16px;
  }

  .main-content {
    max-width: 1280px;
    padding-top: 0px;
    padding-bottom: 32px;
    padding-right: 96px;
    padding-left: 96px;
    margin: 0 auto;
    font-size: 18px;
  }

  .home-column-buttons {
    flex: 10%;
    padding-top: 1.75%;
    margin-right: -100px;
  }

  .home-column-picture {
    flex: 25%;
    padding-top: 2.5%;
  }
}

@media screen and (min-width: 50em) and (max-width: 64em) {
  .project-name {
    font-size: 32px;
  }

  .project-tagline {
    font-size: 18px;
  }

  .title {
    padding: 16px 16px;
  }

  .main-content {
    padding: 32px 64px;
    font-size: 18px;
  }

  .home-column-buttons {
    flex: 10%;
    padding-top: 1.75%;
    margin-left: -10%;
  }

  .home-column-picture {
    flex: 20%;
    padding-top: 2.5%;
    position: relative;
  }
}

@media screen and (min-width: 42em) and (max-width: 50em) {
  .project-name {
    font-size: 32px;
  }

  .project-tagline {
    font-size: 18px;
  }

  .title {
    padding: 16px;
  }

  .main-content {
    padding: 32px 64px;
    font-size: 18px;
  }

  .home-column-buttons {
    flex: 10%;
    padding-top: 1.75%;
    margin-left: -10%;
  }

  .home-column-picture {
    flex: 20%;
    padding-top: 2.5%;
    margin-right: -8%;
  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 28px;
  }

  .project-tagline {
    font-size: 16px;
  }

  .title {
    padding: 16px 16px;
  }

  .main-content {
    padding: 32px 16px;
    font-size: 16px;
  }

  .home-column-buttons {
    flex: 10%;
    padding-top: 1.75%;
    position: relative;
  }

  .home-column-picture {
    flex: 20%;
    padding-top: 2.5%;
    position: relative;
  }
}

@media print {
  .pagination {
    display: none !important;
  }
}
