<!--
This will take all of the dates for the blog posts (written with the class 'post-meta'),
and will render them in the readers' local time, instead of in UTC.

An incoming date/time will be formatted like this:
  2019-12-29 03:00:00 +0000

And it will be turned into this (CST):
  Sat Dec 28 2019 21:00:00 GMT-0600

And written like this:
  December 28, 2019
-->
<script type="text/javascript">
  function showDatesInLocalTime() {
    var monthNames = ['January', 'February', 'March', 'April', 'May', 'June',
                      'July','August', 'September', 'October','November', 'December'
    ];

    for(var c = document.getElementsByClassName('post-meta'), a = 0; a < c.length; a++) {
      var b = c[a];

      if (b.innerHTML.match(/[A-Za-z]+/)) {
        // Skip because the content is not a date
      } else {
        var d = b.innerHTML.trim().split(/[^0-9]/);
        var date = new Date(Date.UTC(d[0], d[1]-1, d[2], d[3], d[4], d[5]));
        var day = date.getDate();
        var year = date.getFullYear();
        var monthIndex = date.getMonth();

        b.innerHTML = monthNames[monthIndex] + ' ' + day + ', ' + year;
      };
    };
  };
  showDatesInLocalTime();
</script>

<!--
To open an EXTERNAL link in the CURRENT tab, write your link like this:
  <a href="https://github.com" target="_self">GitHub</a>

To open an INTERNAL link in a NEW tab, write your link like this:
  <a href="https://emmasax4.info" target="_blank">My website</a>
-->
<script type="text/javascript">
  function openExternalLinksInNewTabs() {
    for(var c = document.getElementsByTagName('a'), a = 0; a < c.length; a++) {
      var b = c[a];
      if (b.target == '_self') {
        b.getAttribute('href') && b.hostname !== location.hostname && (b.target = '_self');
      } else {
        b.getAttribute('href') && b.hostname !== location.hostname && (b.target = '_blank');
      };
    };
  };
  openExternalLinksInNewTabs();
</script>

<script src="https://unpkg.com/feather-icons"></script>
<script>feather.replace()</script>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous">
</script>

<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous">
</script>
