<div class="mt-5" style="padding-bottom:50px;">
  <h4 style="padding-bottom:25px;">Connect with me:</h4>
  <a href="https://twitter.com/emma_sax4" class="link-icon">
    <i data-feather="twitter"></i>
  </a>
  <a href="https://www.linkedin.com/in/emmasax4" class="link-icon">
    <i data-feather="linkedin"></i>
  </a>
  <a href="https://github.com/emmasax4" class="link-icon">
    <i data-feather="github"></i>
  </a>
  <a href="mailto:emma.sax4@gmail.com" class="link-icon">
    <i data-feather="mail"></i>
  </a>
</div>
