{% if include.caption %} <!-- caption is present -->
  {% if include.alt %} <!-- and alt is present -->
    {% assign caption = include.caption %}
    {% assign alt = include.alt %}
  {% else %} <!-- and alt is not present -->
    {% assign caption = include.caption %}
    {% assign alt = include.caption %}
  {% endif %}
{% else %} <!-- no caption -->
  {% if include.alt %} <!-- but there is an alt -->
    {% assign caption = "" %}
    {% assign alt = include.alt %}
  {% else %} <!-- and no alt -->
    {% assign caption = "" %}
    {% assign alt = "" %}
  {% endif %}
{% endif %}

<a class="photoswipe" href="{{ include.url }}" target="_blank" data-pswp-width="{{ include.full_width }}" data-pswp-height="{{ include.full_height }}">
  {% if alt == "" %}
  <img class="image" src="{{ include.url }}" width="{{ include.thumb_width }}">
  {% else %}
  <img class="image" src="{{ include.url }}" width="{{ include.thumb_width }}" alt="{{ alt }}">
  {% endif %}

  {% unless caption == "" %}
  <div class="hidden-caption-content invisible">{{ caption }}</div>
  {% endunless %}
</a>
