<h1 style="padding-bottom: .75rem;">
  <div class="text-center">
    {% if page.subtitle %}
      {{ page.title }}
      <div style="font-size: 32px">
        {{ page.subtitle }}
      </div>
    {% else %}
      {{ page.title }}
    {% endif %}
  </div>

  <div class="text-center" style="margin-top: -.5rem;">
    {% if post.draft %}
      <span class="post-meta">Unpublished</span>
    {% else %}
      {% assign now = "now" | date: "%s" %}
      {% assign date = page.date | date: "%s" %}
      {% if date <= now %}
        <span class="date-meta">{{ page.date }}</span>
      {% else %}
        <span class="post-meta">Unpublished</span>
      {% endif %}
    {% endif %}
  </div>
</h1>
