<h1 style="padding-bottom: .75rem;">
  <div class="text-center">
    {% if page.subtitle %}
      {{ page.title }}
      <div style="font-size: 32px">
        {{ page.subtitle }}
      </div>
    {% else %}
      {{ page.title }}
    {% endif %}
  </div>

  <div class="text-center" style="margin-top: -.5rem;">
    <span class="post-meta" style="font-style: italic;">
      {% assign now = "now" | date: "%s" %}
      {% assign date = page.date | date: "%s" %}
      {% if date <= now %}
        {{ page.date }}
      {% else %}
        Unpublished
      {% endif %}
    </span>
  </div>
</h1>
