{% include elements/all-posts-button.html %}

<div class="text-center" style="margin-bottom: .5rem;">
  {% include elements/rss-button.html %}
</div>

<div class="text-center" style="margin-bottom: .5rem;">
  {% if page.category %}
    {% assign category_to_show = page.category %}
    {% assign tags_to_show = nil %}
  {% elsif page.tags %}
    {% assign tags_to_show = page.tags | sort %}
    {% assign category_to_show = nil %}
  {% endif %}

  {% include post/categorization.html %}
</div>

<div class="text-center" style="margin-bottom: 1rem;">
  <span class="post-meta">
    Read time: {{ content | reading_time_as_i }}
  </span>
</div>
