---
layout: default
---

<div class="row" style="display: flex">
  <div class="col col-12 col-md-2 text-center" style="margin-bottom: 1rem;">
    {% include elements/all-posts-button.html %}
    {% include elements/rss-button.html %}
  </div>

  <div class="col col-12 col-md-10">
    <div class="text-center">
      <h1>
        {% if page.pagination.tag %}
          <i style="width: 2.5rem; height: 2.5rem;" data-feather="tag"></i>
        {% elsif page.pagination.category %}
          <i style="width: 2.5rem; height: 2.5rem;" data-feather="archive"></i>
        {% endif %}
        {{ page.pagination.title }}
      </h1>
    </div>

    <div class="page-body">
      {{ content }}
      {% if content != blank %}
        <br><br>
      {% endif %}
      {% include blog/posts-list.html %}
    </div>
  </div>
</div>
