---
layout: default
---

{% if page.pagination.title == "Blog" %}
  <div style="text-align: center">
    <h1>{{ page.pagination.title }}</h1>
  </div>
{% else if %}
  <div class="row" style="display: flex">
    <div class="col col-12 col-md-2 text-center">
      {% include all_posts_button.html %}
    </div>

    <div class="col col-12 col-md-10">
      <h1>{{ page.pagination.title }}</h1>
{% endif %}

<div class="page-body">
  {{ content }}
  {% include blog_posts.html %}
</div>

{% unless page.pagination.title == "Blog" %}
    </div>
  </div>
{% endunless %}
