---
layout: default
---

<!-- Title of page -->
<div class="text-center">
  <h1>{{ page.title }}</h1>
</div>

<!-- Frame and Javascript information -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<iframe name="iframe" id="iframe" class="invisible"></iframe>

<!-- The contact form for users to fill out -->
<div id="formDiv" class="page-body">
  {{ content | markdownify }}

  <form method="post" target="iframe" id="form"
    action="https://docs.google.com/forms/d/e/1FAIpQLScEq299mdRxHN_dZ3tTdgp6KTYtcgUHHVbDr0DSX2-zDDCxuQ/formResponse"
  >
    <div class="mb-3">
      <label>Full Name<span class="form-required">*</span></label>
      <input name="entry.989289036" type="text" class="form-control" id="name" autocapitalize="words" placeholder="John Doe" required>
    </div>

    <div class="mb-3">
      <label>Email<span class="form-required">*</span></label>
      <input name="entry.1580808807" type="email" class="form-control" id="email" placeholder="johndoe@example.com" required>
    </div>

    <div class="mb-3">
      <label>Message<span class="form-required">*</span></label>
      <textarea name="entry.1379036791" class="form-control" id="message" rows="3"
        placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit." required
      ></textarea>
    </div>

    <div class="mb-3 invisible">
      <label>Anti-Spam Verification<span class="form-required">*</span></label>
      <div class="form-text">
        NOTE: My HTML does not formally require this input to be filled in order to send a message. However, leaving this value blank will automatically prevent my form from <i>accepting</i> your message, even though my website will <i>tell</i> you the submission was successful.
      </div>
      <input name="entry.417228047" type="text" class="form-control" id="verification">
    </div>

    <label>Verify You’re a Human<span class="form-required">*</span></label>
    <div class="g-recaptcha form-recaptcha" data-callback="recaptchaCallback"
      data-expired-callback="recaptchaExpiredCallback" data-sitekey="6Ld6_CcaAAAAAOXP4F6Ze2M5mbeqFRSEN9dlUecn"
    ></div>

    <button type="submit" id="submitButton" disabled class="btn btn-outline-secondary form-button button-text">
      Send Message
    </button>
  </form>
</div>

<!-- Thank you message to show after submission -->
<div id="formResponseDiv" class="page-body invisible">
  Thank you for your message! I will get back to you as soon as I can.

  <div class="text-center container form-thank-you-button">
    <a href="/" class="btn btn-lg btn-outline-secondary button-text">Back to Homepage</a>
  </div>
</div>

<script src="/assets/js/forms.js"></script>
