---
---

<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="
      default-src 'self';
      font-src 'self' fonts.gstatic.com;
      img-src 'self' data: live.staticflickr.com i.imgur.com media.giphy.com referrer.disqus.com c.disquscdn.com;
      script-src 'self' {{ site.disqus.shortname }}.disqus.com www.google.com www.gstatic.com;
      prefetch-src disqus.com c.disquscdn.com;
      frame-src 'self' referrer.disqus.com disqus.com www.google.com docs.google.com;
      style-src 'self' c.disquscdn.com;
    ">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block" always>
    <meta http-equiv="X-Frame-Options" content="deny">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#001aaf">
    <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#001aaf">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/css/google_fonts.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="alternate" href="/feed.xml" type="application/rss+xml">
    {% seo %}
  </head>

  <!-- Navigation bar -->
  {% include site_navigation.html %}

  <!-- Page content -->
  <body>
    <main class="container">
      {{ content }}
    </main>
  </body>

  <!-- Footer -->
  <footer>
    &copy; <script src="/assets/js/get_full_year.js"></script>
    Emma Sax. All rights reserved.
    <br>
    View on <a href="{{ site.author_profiles.github }}/{{ site.github_repo }}">GitHub</a>.
  </footer>

  <!-- Javascript scripts -->
  <script
    src="/assets/js/activate_photoswipe.js"
    type="module"
    class="photoswipe-activation"
    gallery-selector=".photoswipe-gallery"
    child-selector=".photoswipe"
  ></script>
  <script src="/assets/js/show_dates.js"></script>
  <script src="/assets/js/external_links.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/lightbox.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/feather.min.js"></script>
  <script src="/assets/js/activate_feather.js"></script>
</html>
