---
layout: default
---

<div class="row" style="display: flex">
  <div class="column" align="center" style="flex: 10%; padding-top: 1.75%; margin-right: -100px;">
    <br>
    <a href="https://twitter.com/emma_sax4" class="myButton" target="_blank">
      <img src="/assets/images/twitter.png" style="vertical-align:middle">&nbsp;&nbsp;Twitter
    </a>

    <br><br><br>

    <a href="https://www.linkedin.com/in/emma-sax4" class="myButton" target="_blank">
      <img src="/assets/images/linkedin.png" style="vertical-align:middle">&nbsp;LinkedIn
    </a>

    <br><br><br>

    <a href="https://github.com/emma-sax4" class="myButton" target="_blank">
      <img src="/assets/images/github.png" style="vertical-align:middle">&nbsp;&nbsp;GitHub
    </a>
  </div>

  <div class="column" style="flex: 25%; padding-top: 2.5%">
    <img src="/assets/images/SaxProfilePic.jpg" alt="Profile Picture">
  </div>
</div>

<div style="width: 70%; text-align: center; margin: auto">
  {{ content }}
</div>
