---
layout: default
---

<div style="text-align: center">
  <h1>{{ page.title }}</h1>
</div>

<div class="row" style="display: flex">
  <div class="home-column-buttons" align="center">
    <br>
    <a href="https://twitter.com/emma_sax4" class="myButton" target="_blank">
      <img src="/assets/images/twitter.png" style="vertical-align:middle">&nbsp;&nbsp;Twitter
    </a>

    <br><br><br>

    <a href="https://www.linkedin.com/in/emma-sax4" class="myButton" target="_blank">
      <img src="/assets/images/linkedin.png" style="vertical-align:middle">&nbsp;LinkedIn
    </a>

    <br><br><br>

    <a href="https://github.com/emma-sax4" class="myButton" target="_blank">
      <img src="/assets/images/github.png" style="vertical-align:middle">&nbsp;&nbsp;GitHub
    </a>
  </div>

  <div class="home-column-picture">
    <img src="/assets/images/SaxProfilePic.jpg" alt="Profile Picture">
  </div>
</div>

<div class="project-tagline" style="width: 70%; text-align: center; margin: auto">
  {{ content }}
</div>
