---
layout: default
---

<!-- Title of page -->
<div class="text-center">
  <h1>Hello! I'm Emma!</h1>
</div>

<div class="container" style="padding-top: 1.5rem;">
  <div class="row">
    <!-- Main photo -->
    <div class="col-md text-center">
      <img class="image" src="/assets/images/bitmoji-309.png" alt="Emma Bitmoji">
    </div>

    <!-- Tagline and URL buttons -->
    <div class="col-md text-center mt-5">
      {{ content }}

      <div class="mt-5" style="padding-bottom:50px;">
        <h3 style="font-weight: bold; padding-bottom: 25px;">Connect with me:</h4>
        <a href="https://twitter.com/emma_sax4" class="link-icon">
          <i data-feather="twitter"></i>
        </a>
        <a href="https://linkedin.com/in/emmasax4" class="link-icon">
          <i data-feather="linkedin"></i>
        </a>
        <a href="https://github.com/emmasax4" class="link-icon">
          <i data-feather="github"></i>
        </a>
        <a href="mailto:emma.sax4@gmail.com" target="_blank" rel="noopener noreferrer" class="link-icon">
          <i data-feather="mail"></i>
        </a>
        <a href="https://gitlab.com/emmasax4" class="link-icon">
          <i data-feather="gitlab"></i>
        </a>
        <a href="https://instagram.com/emmasax4" class="link-icon">
          <i data-feather="instagram"></i>
        </a>
        <a href="https://facebook.com/emmasax4" class="link-icon" style="padding-left: 0rem; padding-right: 0rem;">
          <i data-feather="facebook"></i>
        </a>
      </div>
    </div>
  </div>
</div>
