---
layout: default
---

<!-- Title of page -->
<div class="text-center">
  <h1>Hello! I’m Emma!</h1>
</div>

<div class="container homepage-content">
  <div class="row">
    <!-- Main photo -->
    <div class="col-md text-center">
      <img class="image" src="/assets/images/bitmoji-309.png" alt="Emma Bitmoji">
    </div>

    <!-- Tagline and URL buttons -->
    <div class="col-md text-center mt-2">
      {{ content | markdownify }}

      <div class="mt-5 connect">
        <h3 class="connect-header">Connect with me:</h4>

        <a href="{{ site.author_profiles.twitter }}" class="link-icon">
          <i data-feather="twitter"></i>
        </a>
        <a href="{{ site.author_profiles.linkedin }}" class="link-icon">
          <i data-feather="linkedin"></i>
        </a>
        <a href="{{ site.author_profiles.github }}" class="link-icon">
          <i data-feather="github"></i>
        </a>
        <a href="{{ site.author_profiles.gitlab }}" class="link-icon">
          <i data-feather="gitlab"></i>
        </a>
        <a href="{{ site.author_profiles.instagram }}" class="link-icon">
          <i data-feather="instagram"></i>
        </a>
        <a href="{{ site.author_profiles.facebook }}" class="link-icon facebook-icon">
          <i data-feather="facebook"></i>
        </a>

        <div class="text-center link-icon-button contact-button">
          <a href="/contact-me/" class="btn btn-md btn-outline-secondary">
            Send me a message directly
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
