---
layout: default
---

<div class="row">
  <div class="col col-12 col-md-2 text-center">
    {% include all_posts_button.html %}

    <div class="text-center" style="margin-bottom: 1rem;">
      {% include rss_button.html %}
    </div>

    <div class="text-center" style="margin-bottom: 1rem;">
      {% if page.category %}
        {% assign category = page.category %}
        {% include category_list.html %}
      {% elsif page.tags %}
        {% assign tags = page.tags | sort %}
        {% include tags_list.html %}
      {% endif %}
    </div>
  </div>

  <div class="col col-12 col-md-10">
    {% include post_summary_for_post.html %}
    <div class="page-body">
      {{ content }}
      {% include comments.html %}
    </div>
  </div>
</div>
