---
layout: default
---

<div class="row" style="display: flex; width: 70rem;">
  <div class="column" align="center" style="padding-top: 2%; padding-right: 50px; column-width: 150px;">
    {% include all_posts_button.html %}
    {% if page.set %}
      <br>
      {% assign set = page.set %}
      {% include set_list.html %}
    {% elsif page.tags %}
      <br>
      {% assign tags = page.tags | sort %}
      {% include tags_list.html %}
    {% endif %}
  </div>

  <div class="column" align="left" style="flex: 50%; padding-top: 0%; column-width: 850px;">
    {% include post_summary_for_show.html %}
    {{ content }}
  </div>
</div>
