---
layout: default
---

<div class="row" style="display: flex">
  <div class="column" align="center" style="flex: 0%; padding-top: 2%; padding-right: 10px">
    {% include all_thoughts_button.html %}
  </div>

  <div class="column" align="left" style="flex: 45%; padding-top: 0%">
    {{ content }}

    {% assign draft_thoughts = site.posts %}
    {% assign published_thoughts = site.thoughts | sort: "date" | reverse %}
    {% assign thoughts = draft_thoughts | concat: published_thoughts %}

    <div id="thoughts">
      <ul class="list" style="list-style: none">
        {% for thought in thoughts %}
          {% if thought.set contains page.set and thought.url != page.url %}
            <li>
              {% assign thought_url = thought.url | replace: ".html", "" | relative_url %}
              {% if thought.subtitle %}
                {% assign short_title = thought.subtitle %}
              {% else %}
                {% assign short_title = thought.title %}
              {% endif %}

              {% if thought.draft == true %}
                <span class="thought-meta">
                  Unpublished
                </span>
              {% else %}
                <span class="thought-meta">
                  {{ thought.date | date: "%B %-d, %Y" }}
                </span>
              {% endif %}

              <br>
              <a href="{{ site.baseurl }}{{ thought_url }}">{{ short_title }}</a>
              <br><br>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <nav class="paginate-container" aria-label="Pagination">
        <div class="pagination"></div>
      </nav>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById("thoughts").style.display = "none";

  var options = {
    valueNames: [ 'thought' ],
    page: 5,
    pagination: {
      outerWindow: 1,
      innerWindow: 1
    }
  };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"
  onload="var thoughts = new List('thoughts', options); document.getElementById('thoughts').style.display = 'block';">
</script>
