---
layout: default
---

{{ content }}

<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
  .selected{ background-color: magenta; }
</style>

<ul>
  {% assign all_thoughts = site.thoughts | sort:"date" | reverse %}
  {% for thought in all_thoughts %}
    {% assign thought_url = thought.url | replace: '.html', '' | relative_url %}
    <span class="thought-meta">{{ thought.date | date: "%B %-d, %Y" }}</span>
    <br>
    {% if thought.subtitle %}
      <a href="{{ site.baseurl }}{{ thought_url }}">{{ thought.title }} ☞ {{ thought.subtitle }}</a>
    {% else %}
      <a href="{{ site.baseurl }}{{ thought_url }}">{{ thought.title }}</a>
    {% endif %}
    <br><br>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
  <ul>
    {% if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
          Newer
        </a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
          Older
        </a>
      </li>
    {% endif %}

    {% if paginator.total_pages > 1 %}
      <ul class="pager">
        {% if paginator.first_page %}
          <li class="previous">
            <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">
              First
            </a>
          </li>
        {% endif %}

      {% if paginator.previous_page %}
        <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            &larr; Newer Posts
          </a>
        </li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %}class="selected"{% endif %}>
            <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">
              {{ trail.num }}
            </a>
          </li>
        {% endfor %}
      {% endif %}

      {% if paginator.next_page %}
        <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            Older Posts &rarr;
          </a>
        </li>
      {% endif %}

      {% if paginator.last_page %}
        <li class="previous">
          <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            Last
          </a>
        </li>
      {% endif %}
    {% endif %}
  </ul>
{% endif %}
