---
layout: default
---

<div class="row" style="display: flex">
  <div class="column" align="center" style="flex: 0%; padding-top: 2%; padding-right: 10px">
    {% include all_thoughts_button.html %}
    {% if page.set %}
      <br>
      {% assign set = page.set %}
      {% include set_list.html %}
    {% else %}
      <br>
      {% assign tags = page.tags | sort %}
      {% include tags_list.html %}
    {% endif %}
  </div>

  <div class="column" align="left" style="flex: 45%; padding-top: 0%">
    {% include thought_summary_for_show.html %}
    {{ content }}
  </div>
</div>
