---
layout: default
---

{% unless page.tag == "all" %}
  <div class="row" style="display: flex">
    {% include thoughts_sidebar.html %}

    <div class="column" align="left" style="flex: 45%; padding-top: 0%">
{% endunless %}

{{ content }}

{% assign draft_thoughts = site.posts %}
{% assign published_thoughts = site.thoughts | sort:"date" | reverse %}
{% assign thoughts = draft_thoughts | concat: published_thoughts %}

<div id="thoughts">
  <ul class="list" style="list-style: none">
    {% for thought in thoughts %}
      {% if thought.tags contains page.tag and thought.url != page.url %}
        <li>
          {% assign thought_url = thought.url | replace: ".html", "" | relative_url %}
          {% if thought.subtitle %}
            {% if page.tag == "all" %}
              {% assign short_title = thought.title | append: " ☞ " | append: thought.subtitle %}
            {% else %}
              {% assign short_title = thought.subtitle %}
            {% endif %}
          {% else %}
            {% assign short_title = thought.title %}
          {% endif %}

          {% if thought.draft == true %}
            <span class="thought-meta">
              Unpublished
            </span>
          {% else %}
            <span class="thought-meta">
              {{ thought.date | date: "%B %-d, %Y" }}
            </span>
          {% endif %}

          <br>
          <td class="thought"><a href="{{ site.baseurl }}{{ thought_url }}">{{ short_title }}</a></td>
          {% assign main_tags = thought.tags | shift | sort %}
          {% include tags_list.html %}
        </li>
        <br>
      {% endif %}
    {% endfor %}
  </ul>

  <nav class="paginate-container" aria-label="Pagination">
    <ul class="pagination"></ul> <!--Why is my pagination bar just numbers, and not pretty? -->
  </nav>
</div>

{% unless page.tag == "all" %}
    </div>
  </div>
{% endunless %}

<script type="text/javascript">
  document.getElementById("thoughts").style.display = "none";

  var options = {
    valueNames: [ 'thought' ],
    page: 10, // Why does this only show five items locally? If I add more <br> into the HTML, then it'll show even less items on each page...
    pagination: {
      outerWindow: 1,
      innerWindow: 2
    }
  };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js" integrity="sha256-YqOIp4MygNx9/lcWr5lpcR88Ki/MNMWvJJkH0eK+fHM=" crossorigin="anonymous" onload="var thoughtList = new List('thoughts', options); document.getElementById('thoughts').style.display = 'block';">
</script>
