---
layout: default
---

{% unless page.tag == "all" %}
  <div class="row" style="display: flex">
    {% include thoughts_sidebar.html %}

    <div class="column" align="left" style="flex: 45%; padding-top: 0%">
{% endunless %}

{{ content }}

{% assign draft_thoughts = site.posts %}
{% assign published_thoughts = site.thoughts | sort:"date" | reverse %}
{% assign thoughts = draft_thoughts | concat: published_thoughts %}

<ul>
  {% for thought in thoughts %}
    <!--
      Only show the thoughts that have the same tag as the page we're on. Don't consider
      this page a thought itself (this page is a list of thoughts).
    -->
    {% if thought.tags contains page.tag and thought.url != page.url %}
      {% assign thought_url = thought.url | replace: ".html", "" | relative_url %}
      {% if thought.subtitle %}
        {% if page.tag == "all" %}
          {% assign short_title = thought.title | append: " ☞ " | append: thought.subtitle %}
        {% else %}
          {% assign short_title = thought.subtitle %}
        {% endif %}
      {% else %}
        {% assign short_title = thought.title %}
      {% endif %}

      {% if thought.draft == true %}
        <span class="thought-meta">
          Unpublished
        </span>
      {% else %}
        <span class="thought-meta">
          {{ thought.date | date: "%B %-d, %Y" }}
        </span>
      {% endif %}

      <br>
      <a href="{{ site.baseurl }}{{ thought_url }}">{{ short_title }}</a>
      {% assign main_tags = thought.tags | shift | sort %}
      {% include tags_list.html %}
      <br><br>
    {% endif %}
  {% endfor %}
</ul>

{% unless page.tag == "all" %}
    </div>
  </div>
{% endunless %}
